@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Landscape\,\ sunset\ in\ the\ sky\ against\ the\ mountains\,\ mountain\ ranges\ during\ sunset\ _\ Premium\ Photo.jpeg) no-repeat center center/cover;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
.todo-app {
    width: 10000px;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    color: #551111;
    border-radius: 20px;
    box-shadow: 0 0 100px #00000080;
    border: 3px solid #ffffff2e;
    backdrop-filter: blur(10px);
}
.todo-app h1 {
    font-size: 2rem;
}
.input-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.input-area input {
    flex: 1;
    padding: 10px 17px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 22px;
    background: #ffc2d14d;
    color: #6a3105fb;
}
.input-area input::placeholder {
    color: #571111;
}
.input-area button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 8px;
    border-radius: 50%;
    color: #350505;
    font-size: 1.1rem;
    background: #ffffff2e;
    border: 2px solid #ffc2d14d;
    cursor: pointer;
    transition: all 0.2s ease;
}
.input-area button:hover {
    transform: scale(1.1);
    background: #e28a24;
}
.todos-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}
#task-list {
    width: 100%;
}
.empty-image {
    margin: 0 50%;
    border-radius: 30px;
    height: 70%;
    width: 70%;
}
#task-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c05803;
    font-size: 1.2rem;
    color: white;
    position: relative;
    transform: box-shadow 0.2s ease;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 10px 0;
    width: 100%;
}
.actions{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#task-list li:hover{
    box-shadow: 0 0 10px #00000080;
}
#task-list li .checkbox{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease;
}
#task-list li .checkbox:checked+span{
    text-decoration: line-through;
    color: #350505;
    font-weight: 900;
}
#task-list li .checkbox:checked{
    background: #ff6f91;
    border: solid 1px #83263db0;
    transform: scale(1.1);
}
#task-list li .checkbox:checked::after{
    content: "\2713";
    color: #83263db0;
    font-size: 14px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
#task-list li span{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    word-wrap: break-word;
}
.edit-btn,
.delete-btn{
    background: #ffc2d14d;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-btn:hover,
.delete-btn:hover{
    transform: scale(1.2);
}
.task-buttons{
    display: flex;
    gap: 10px;
    margin-right: auto;
}
.todo-app .stat-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #ffc2d14d;
    border: 2px solid #ffc2d14d;
    padding: 15px 20px;
    border-radius: 20px;
}
.todo-app .stat-container .stats-number{
    background-color: #e28a42;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 22px;
    font-weight: bold;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #ffc2d14d;
}
.todo-app .stat-container .stats-number #numbers{
    font-size: 20px;
}
.todo-app .stat-container .details{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}
#progressbar{
    width: 100%;
    height: 7px;
    background: #e87a1f96;
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
}
#progress{
    width: 0%;
    height: 100%;
    background: #c05803;
    border-radius: 20px;
    transition: width 0.3s ease;
}